fastapi==0.115.5
uvicorn[standard]==0.32.1
httpx[http2]==0.27.2
beautifulsoup4==4.12.3
lxml==5.3.0
sqlalchemy==2.0.36
aiosqlite==0.20.0
pydantic==2.10.2
pydantic-settings==2.6.1
python-dotenv==1.0.1
PyJWT==2.10.1
PikPakAPI==0.1.11
